{{!-- Jobs Availability Configuration --}}
<div class="creation-availability-body">
  <p class="hint">Uncheck jobs to exclude them from character creation. All are allowed by default.</p>

  {{#if hasJobs}}
  <div class="creation-config-checklist">
    {{#each jobs}}
    <label class="creation-config-check-item">
      <input type="checkbox" name="job-{{this.uuid}}" {{checked this.allowed}} />
      <img src="{{this.img}}" width="28" height="28" />
      <span>{{this.name}}</span>
    </label>
    {{/each}}
  </div>
  {{else}}
  <p class="notes">No job manacite found in compendium.</p>
  {{/if}}

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fa-solid fa-save"></i> Save Changes</button>
  </footer>
</div>
