<div class="ms-card card-charge charge-{{phase}} {{#if element}}element-{{element}}{{/if}}">
  <div class="ms-card-header">
    <div class="ms-card-portrait"><img src="{{actorImg}}" /></div>
    <div class="ms-card-identity">
      <div class="ms-card-name">{{actorName}}</div>
      <div class="ms-card-subtitle">
        {{#if (eq phase "begin")}}begins charging <strong>{{skillName}}</strong>
        {{else if (eq phase "resolve")}}unleashes <strong>{{skillName}}</strong>
        {{else}}<strong>{{skillName}}</strong> was interrupted{{/if}}
      </div>
    </div>
    {{#if (gt mpCost 0)}}<span class="ms-card-header-badge badge-mp">MP &minus;{{mpCost}}</span>{{/if}}
  </div>
  {{#if targetName}}
  <div class="ms-card-target">
    <span class="ms-card-target-arrow">&#9656;</span>
    <span class="ms-card-target-label">TARGET</span>
    <span class="ms-card-target-name">{{targetName}}</span>
    {{#if isHealing}}<span class="ms-card-target-badge badge-heal"><i class="fas fa-heart"></i></span>{{/if}}
  </div>
  {{/if}}
  <div class="ms-card-tags" style="justify-content: center;">
    {{#if element}}<span class="ms-card-tag tag-element">{{upper element}}</span>{{/if}}
    {{#if isHealing}}<span class="ms-card-tag tag-heal"><i class="fas fa-heart"></i> HEALING</span>{{/if}}
    {{#if (eq phase "begin")}}<span class="ms-card-tag tag-chant"><i class="fas fa-hourglass-start"></i> FULL CAST</span>
    {{else if (eq phase "resolve")}}<span class="ms-card-tag tag-info"><i class="fas fa-bolt"></i> 150% POWER</span>{{/if}}
  </div>
  <div class="ms-card-status-bar">
    {{#if (eq phase "begin")}}<i class="fas fa-hourglass-start"></i><span>Resolves at start of next turn</span>
    {{else if (eq phase "resolve")}}<i class="fas fa-hat-wizard"></i><span>Charged spell unleashed!</span>
    {{else}}<i class="fas fa-ban"></i><span>Charge interrupted!</span>{{/if}}
  </div>
</div>
