<div class="ms-card card-levelup">
  <div class="ms-card-header">
    <div class="ms-card-portrait"><img src="{{actorImg}}" /></div>
    <div class="ms-card-identity">
      <div class="ms-card-name">{{actorName}}</div>
      <div class="ms-card-subtitle">leveled up</div>
    </div>
  </div>
  <div class="ms-card-action levelup">
    <div class="action-gem"></div>
    Level Up!
  </div>
  <div class="ms-card-level-row">
    <div class="ms-card-level-num old">{{oldLevel}}</div>
    <div class="ms-card-level-arrow"><i class="fas fa-arrow-right"></i></div>
    <div class="ms-card-level-num new">{{newLevel}}</div>
  </div>
  {{#if jobName}}
  <div class="ms-card-tags" style="justify-content: center;">
    <span class="ms-card-tag tag-info"><i class="fas fa-briefcase"></i> {{jobName}}</span>
  </div>
  {{/if}}
  {{#if stats.length}}
  <div class="ms-card-stat-gains">
    {{#each stats}}
    <div class="ms-card-stat-gain {{this.cls}}">
      <span class="sg-label">{{this.label}}</span>
      <span class="sg-rate">{{this.growth}}%</span>
      <span class="sg-result">{{{this.icon}}}</span>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="ms-card-confirm">
    <i class="fas fa-star"></i> {{totalGains}} stat point{{#unless singleGain}}s{{/unless}} gained
  </div>
</div>
