<div class="ms-card card-objective objective-{{outcome}}">
  <div class="ms-card-objective-banner">
    {{#if (eq outcome "victory")}}
      <i class="fas fa-crown"></i>
      <span>{{localize "MANASHARD.Objectives.Victory"}}</span>
      <i class="fas fa-crown"></i>
    {{else}}
      <i class="fas fa-skull"></i>
      <span>{{localize "MANASHARD.Objectives.Failure"}}</span>
      <i class="fas fa-skull"></i>
    {{/if}}
  </div>
  <div class="ms-card-objective-body">
    <div class="ms-card-objective-row">
      <div class="ms-card-objective-icon">{{{manashardIcon objectiveIcon}}}</div>
      <div class="ms-card-objective-info">
        <div class="ms-card-objective-label">{{objectiveLabel}}</div>
        <div class="ms-card-objective-desc">{{objectiveDesc}}</div>
      </div>
    </div>
    {{#if hasProgress}}
    <div class="ms-card-progress-bar">
      <div class="ms-card-progress-fill" style="width: {{progressPct}}%;"></div>
      <span class="ms-card-progress-text">{{progressCurrent}} / {{progressTarget}}</span>
    </div>
    {{/if}}
  </div>
  <div class="ms-card-objective-result">
    {{#if (eq outcome "victory")}}
      <i class="fas fa-check-circle"></i>
      <span>{{localize "MANASHARD.Objectives.VictoryMessage"}}</span>
    {{else}}
      <i class="fas fa-times-circle"></i>
      <span>{{localize "MANASHARD.Objectives.FailureMessage"}}</span>
    {{/if}}
  </div>
</div>
