<div class="ms-card card-retaliate">
  <div class="ms-card-header">
    <div class="ms-card-portrait"><img src="{{defenderImg}}" /></div>
    <div class="ms-card-identity">
      <div class="ms-card-name">{{defenderName}}</div>
      <div class="ms-card-subtitle">retaliates!</div>
    </div>
  </div>
  <div class="ms-card-action retaliate">
    <div class="action-gem"></div>
    Retaliation
  </div>
  <div class="ms-card-damage">
    <div class="ms-card-dmg-val">{{retDamage}}</div>
    <div class="ms-card-dmg-label">RETALIATION</div>
    <div class="ms-card-dmg-badges">
      <span class="ms-card-dmg-badge badge-true-dmg"><span class="badge-dot"></span>TRUE DAMAGE</span>
    </div>
  </div>
  <div class="ms-card-divider"></div>
  <div class="ms-card-ret-target">
    <img src="{{attackerImg}}" />
    <div class="ms-card-ret-target-info">
      <span class="ms-card-ret-target-name">{{attackerName}}</span>
      <span class="ms-card-ret-hp-change">{{attackerOldHp}} &rarr; {{attackerNewHp}} HP</span>
    </div>
  </div>
  <div class="ms-card-ret-source">
    <i class="fas fa-fire-flame-curved"></i>
    <span>{{effectName}}</span>
  </div>
</div>
