<div class="ms-card card-status removal-{{source}}">
  <div class="ms-card-header">
    <div class="ms-card-portrait"><img src="{{actorImg}}" /></div>
    <div class="ms-card-identity">
      <div class="ms-card-name">{{actorName}}</div>
      <div class="ms-card-subtitle">
        {{#if (eq source "expired")}}status effects wore off
        {{else if (eq source "cleansed")}}statuses cleansed
        {{else if (eq source "shattered")}}Frozen shattered!{{/if}}
      </div>
    </div>
  </div>
  <div class="ms-card-action status">
    <div class="action-gem"></div>
    {{#if (eq source "expired")}}Expired
    {{else if (eq source "cleansed")}}Cleansed
    {{else if (eq source "shattered")}}Shattered{{/if}}
  </div>
  <div class="ms-card-status-list">
    {{#each statuses}}
    <div class="ms-card-status-entry">
      {{{manashardIcon this.icon}}}
      <span class="status-label">{{this.label}}</span>
      <span class="status-tag">{{this.tag}}</span>
    </div>
    {{/each}}
  </div>
  <div class="ms-card-source-bar">
    {{#if (eq source "expired")}}<i class="fas fa-hourglass-end"></i><span>Duration expired</span>
    {{else if (eq source "cleansed")}}<i class="fas fa-hand-sparkles"></i><span>Cleansed by item</span>
    {{else if (eq source "shattered")}}<i class="fas fa-snowflake"></i><span>Ice shattered by attack</span>{{/if}}
  </div>
</div>
